@font-face {
  font-family: "NotoSansJP";
  src:
    local("NotoSansJP"),
    url("./assets/fonts/NotoSansJP-VariableFont_wght.ttf") format("woff");
}
@font-face {
  font-family: "Inter";
  src:
    local("Inter"),
    url("./assets/fonts/Inter-VariableFont_slnt,wght") format("woff");
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-primary {
  background: linear-gradient(33deg, #ffcc21 0%, #ff963c 100%);
}
