@font-face {
  font-family: "NotoSansJP";
  src:
    local("NotoSansJP"),
    url("./assets/fonts/NotoSansJP-VariableFont_wght.ttf") format("woff");
}
@font-face {
  font-family: "Inter";
  src:
    local("Inter"),
    url("./assets/fonts/Inter-VariableFont_slnt,wght") format("woff");
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-primary {
  background: linear-gradient(33deg, #ffcc21 0%, #ff963c 100%);
}

/* === Scrollbar === */
/* width */
::-webkit-scrollbar {
  width: 6px;
  border-radius: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #777777;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffcc21;
  border-radius: 3px;
  width: 34px;
}

/* Firefox scrollbar */
* {
  scrollbar-width: 6px;
  border-radius: 3px;
  scrollbar-color: #ffcc21 #777777;
}
